.slider-container a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.card {
    margin: 2rem;
    background-color: wheat;
}
.card-img-top {
    height: 85%;
    width: 90%;
    box-shadow: -10px -5px 10px rgb(109, 106, 106)
}
.card-link {
    text-decoration: none;
    border: 1px solid gray;
    padding: 0.5rem;
    box-shadow: -10px -5px 10px rgb(109, 106, 106);
    color: black;
}
.contenedor-card {
    display: flex;
}
footer img {
    width: 30px;
}
footer h2 {
    padding-right: 3rem;
}
.contact {
    margin:3rem;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div img {
    width: 95%;
    margin-top: 2px;
}
.card-body {
    text-align: center;
}
#section {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    
}
span {

    font-weight: bold;
}

@media (min-width: 600px) {
    #details-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 20rem;
    }
    #section {
        width: 100%;
    }
    .img-div {
        width: 50%;
    }
    .img-div img {
        width: 70%;
        box-shadow: -15px -15px 30px rgb(109, 106, 106);
    }
    .card-body h3 {
        padding-bottom: 2rem;
    }
}

@media (max-width: 425px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
    .redes>a {
        padding: 1rem;
    }
    .cohort {
        margin-left: 4rem;
    }
}
